Repository MrSkorohod/weather_app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint --fix, eslint

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "npm run lint --fix"],
  "*.html": ["eslint", "prettier --write"],
  "*.scss": "prettier --write"
}

Create folders architecture
  .husky/pre-commit
  .lintstagedrc.json
  src/app/core/api/weather-api.service.spec.ts
  src/app/core/api/weather-api.service.ts
  src/app/core/services/weather.service.spec.ts
  src/app/core/services/weather.service.ts
  src/app/shared/shared.module.ts
Due: prettier --write, npm run lint --fix

Revert "Added prettier, eslint, nx, husky" Reinstall Nx
  .eslintignore
  .gitignore
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  .prettierrc.json
  .vscode/extensions.json
  README.md
  apps/weather_app/.eslintrc.json
  apps/weather_app/karma.conf.js
  apps/weather_app/project.json
  apps/weather_app/src/app/app-routing.module.ts
  apps/weather_app/src/app/app.component.html
  apps/weather_app/src/app/app.component.scss
  apps/weather_app/src/app/app.component.spec.ts
  apps/weather_app/src/app/app.component.ts
  apps/weather_app/src/app/app.module.ts
  apps/weather_app/src/assets/.gitkeep
  apps/weather_app/src/favicon.ico
  apps/weather_app/src/index.html
  apps/weather_app/src/main.ts
  apps/weather_app/src/styles.scss
  apps/weather_app/tsconfig.app.json
  apps/weather_app/tsconfig.spec.json
  libs/.gitkeep
  nx.json
  package-lock.json
  package.json
  src/index.html
  tools/generators/.gitkeep
  tools/tsconfig.tools.json
  tsconfig.app.json
  tsconfig.base.json
  tsconfig.spec.json
Due: prettier --write, npm run lint --fix, eslint

Cretae base home page nad added routing module for this component. Added new command at package.json
  .lintstagedrc.json
  apps/weather_app/src/app/app-routing.module.ts
  apps/weather_app/src/app/modules/home-page/home-page-routing.module.ts
  apps/weather_app/src/app/modules/home-page/home-page.component.html
  apps/weather_app/src/app/modules/home-page/home-page.component.scss
  apps/weather_app/src/app/modules/home-page/home-page.component.spec.ts
  apps/weather_app/src/app/modules/home-page/home-page.component.ts
  apps/weather_app/src/app/modules/home-page/home-page.module.ts
  package-lock.json
  package.json
  tsconfig.base.json
Due: prettier --write, npm run lint --fix, eslint

Create Home page
  apps/weather_app/project.json
  apps/weather_app/src/app/app-routing.module.ts
  apps/weather_app/src/app/app.module.ts
  apps/weather_app/src/app/modules/home-page/home-page-routing.module.ts
  apps/weather_app/src/app/modules/home-page/home-page.component.html
  apps/weather_app/src/app/modules/home-page/home-page.module.ts
  apps/weather_app/src/app/shared/search-bar/search-bar.component.html
  apps/weather_app/src/app/shared/search-bar/search-bar.component.scss
  apps/weather_app/src/app/shared/search-bar/search-bar.component.spec.ts
  apps/weather_app/src/app/shared/search-bar/search-bar.component.ts
  apps/weather_app/src/app/shared/shared.module.ts
  package.json
Due: prettier --write, npm run lint --fix, eslint

Added enviroment cofiguration
  apps/weather_app/src/app/.env.local
  apps/weather_app/src/app/.env.prod
  apps/weather_app/src/app/shared/search-bar/search-bar.component.html
  apps/weather_app/src/app/shared/search-bar/search-bar.component.ts
  apps/weather_app/src/app/shared/shared.module.ts
  apps/weather_app/webpack.config.js
Due: prettier --write, npm run lint --fix, eslint

This feature added enviroment configuration. Also added webpack config file and envs files
  apps/weather_app/src/app/shared/search-bar/search-bar.component.html
  apps/weather_app/src/app/shared/search-bar/search-bar.component.ts
  apps/weather_app/tsconfig.app.json
Due: prettier --write, npm run lint --fix, eslint

Add api location and cities services. Add header on home page with dynamic city
  apps/weather_app/src/app/.env.local
  apps/weather_app/src/app/core/api/api-general.service.spec.ts
  apps/weather_app/src/app/core/api/api-general.service.ts
  apps/weather_app/src/app/core/api/cities.service.spec.ts
  apps/weather_app/src/app/core/api/cities.service.ts
  apps/weather_app/src/app/core/models/api.model.ts
  apps/weather_app/src/app/core/services/location.service.spec.ts
  apps/weather_app/src/app/core/services/location.service.ts
  apps/weather_app/src/app/modules/home-page/home-page.component.html
  apps/weather_app/src/app/modules/home-page/home-page.component.scss
  apps/weather_app/src/app/modules/home-page/home-page.component.ts
Due: prettier --write, npm run lint --fix, eslint

Change configuration for webpack buid
  .gitignore
  apps/weather_app/custom-webpack.config.js
  apps/weather_app/project.json
  apps/weather_app/src/app/core/api/api-general.service.ts
  apps/weather_app/src/app/modules/home-page/home-page.component.scss
  apps/weather_app/src/app/modules/home-page/home-page.component.ts
  apps/weather_app/src/environments/environment.prod.ts
  apps/weather_app/src/environments/environment.ts
  apps/weather_app/src/styles.scss
  package-lock.json
  package.json
Due: prettier --write, npm run lint --fix

Add new method for getting cities list
  apps/weather_app/src/app/.env.local
  apps/weather_app/src/app/.env.prod
  apps/weather_app/src/app/core/api/cities.service.ts
  apps/weather_app/src/app/modules/home-page/home-page.component.html
  apps/weather_app/src/app/modules/home-page/home-page.component.ts
  apps/weather_app/src/app/shared/search-bar/search-bar.component.html
  apps/weather_app/src/app/shared/search-bar/search-bar.component.ts
  apps/weather_app/src/app/shared/shared.module.ts
Due: prettier --write, npm run lint --fix, eslint

Add model for cities responses
  apps/weather_app/src/app/core/api/api-general.service.ts
  apps/weather_app/src/app/core/api/cities.service.ts
  apps/weather_app/src/app/core/models/cities.mode.ts
  apps/weather_app/src/app/modules/home-page/home-page.component.html
  apps/weather_app/src/app/modules/home-page/home-page.component.scss
  apps/weather_app/src/app/modules/home-page/home-page.component.ts
  apps/weather_app/src/app/shared/search-bar/search-bar.component.html
  apps/weather_app/src/app/shared/search-bar/search-bar.component.ts
Due: prettier --write, npm run lint --fix, eslint

Remove unnecesary code
  .gitignore
  apps/weather_app/src/app/modules/home-page/home-page.component.ts
Due: prettier --write, npm run lint --fix

Add configuration for test
  apps/weather_app/project.json
  apps/weather_app/src/app/core/api/api-general.service.spec.ts
  apps/weather_app/src/app/core/api/cities.service.spec.ts
  apps/weather_app/src/app/modules/home-page/home-page.component.spec.ts
  apps/weather_app/src/test.ts
  apps/weather_app/tsconfig.spec.json
  package.json
Due: prettier --write, npm run lint --fix

Provide Shared module on Search-bar and home-page tests
  apps/weather_app/src/app/modules/home-page/home-page.component.spec.ts
  apps/weather_app/src/app/shared/search-bar/search-bar.component.spec.ts
Due: prettier --write, npm run lint --fix

Add new tests at cities service
  apps/weather_app/src/app/core/api/cities.service.spec.ts
Due: prettier --write, npm run lint --fix

Remove 'test.ts' file
  apps/weather_app/src/test.ts
Due: prettier --write, npm run lint --fix

Add test on 'search-bar' component
  apps/weather_app/src/app/shared/search-bar/search-bar.component.spec.ts
Due: prettier --write, npm run lint --fix

Add precommit hook for test
  .lintstagedrc.json
  apps/weather_app/src/app/app.component.spec.ts
  apps/weather_app/src/app/core/api/api-general.service.spec.ts
  apps/weather_app/src/app/core/api/cities.service.spec.ts
  apps/weather_app/src/app/modules/home-page/home-page.component.spec.ts
  apps/weather_app/src/app/shared/search-bar/search-bar.component.spec.ts
  package.json
Due: prettier --write, npm run lint --fix

Add precommit hook for test
  .lintstagedrc.json
  package.json
Due: none

Add precommit hook for test
  .husky/pre-commit
  package.json
Due: none

Add precommit hook for test
  .husky/pre-commit
Due: none

Simple changes
  .husky/pre-commit
  .lintstagedrc.json
Due: none

Add new test in home page
  apps/weather_app/src/app/modules/home-page/home-page.component.spec.ts
  package.json
Due: prettier --write, npm run lint --fix

Added icons and simple file structure of ngrx
  apps/weather_app/project.json
  apps/weather_app/src/app/app.module.ts
  apps/weather_app/src/app/core/store/actions/city.actions.ts
  apps/weather_app/src/app/core/store/reducers/city.reducer.ts
  apps/weather_app/src/app/core/store/store.module.ts
  apps/weather_app/src/app/modules/home-page/home-page.component.html
  apps/weather_app/src/app/modules/home-page/home-page.component.ts
  apps/weather_app/src/app/shared/search-bar/search-bar.component.html
  apps/weather_app/src/app/shared/search-bar/search-bar.component.ts
  apps/weather_app/src/app/shared/shared.module.ts
Due: prettier --write, npm run lint --fix, eslint

Added new api call for weather and created weather block
  apps/weather_app/src/app/core/api/cities.service.ts
  apps/weather_app/src/app/core/models/cities.mode.ts
  apps/weather_app/src/app/core/store/actions/city.actions.ts
  apps/weather_app/src/app/core/store/reducers/city.reducer.ts
  apps/weather_app/src/app/modules/home-page/home-page.component.html
  apps/weather_app/src/app/modules/home-page/home-page.component.spec.ts
  apps/weather_app/src/app/modules/home-page/home-page.component.ts
  apps/weather_app/src/app/shared/search-bar/search-bar.component.html
  apps/weather_app/src/app/shared/search-bar/search-bar.component.scss
  apps/weather_app/src/app/shared/search-bar/search-bar.component.ts
  apps/weather_app/src/app/shared/shared.module.ts
  apps/weather_app/src/app/shared/weather-block/weather-block.component.html
  apps/weather_app/src/app/shared/weather-block/weather-block.component.scss
  apps/weather_app/src/app/shared/weather-block/weather-block.component.spec.ts
  apps/weather_app/src/app/shared/weather-block/weather-block.component.ts
Due: prettier --write, npm run lint --fix, eslint

Added new api call for weather and created weather block
  apps/weather_app/src/app/modules/home-page/home-page.component.spec.ts
Due: prettier --write, npm run lint --fix

Added taiga styles dependencies
  apps/weather_app/project.json
  apps/weather_app/src/app/shared/shared.module.ts
  apps/weather_app/src/app/shared/weather-block/weather-block.component.html
  apps/weather_app/src/app/shared/weather-block/weather-block.component.scss
  apps/weather_app/src/app/shared/weather-block/weather-block.component.spec.ts
  package-lock.json
  package.json
Due: prettier --write, npm run lint --fix, eslint

Added ngrx effects depends and features with new block after search-bar. Also added initialaze app with store
  apps/weather_app/src/app/app.module.ts
  apps/weather_app/src/app/core/api/cities.service.ts
  apps/weather_app/src/app/core/models/cities.mode.ts
  apps/weather_app/src/app/core/store/actions/city.actions.ts
  apps/weather_app/src/app/core/store/effects/city.effects.ts
  apps/weather_app/src/app/core/store/reducers/city.reducer.ts
  apps/weather_app/src/app/core/store/store.module.ts
  apps/weather_app/src/app/modules/home-page/home-page.component.html
  apps/weather_app/src/app/modules/home-page/home-page.component.scss
  apps/weather_app/src/app/modules/home-page/home-page.component.spec.ts
  apps/weather_app/src/app/modules/home-page/home-page.component.ts
  apps/weather_app/src/app/shared/search-bar/search-bar.component.html
  apps/weather_app/src/app/shared/weather-block/weather-block.component.html
  apps/weather_app/src/app/shared/weather-block/weather-block.component.scss
  apps/weather_app/src/app/shared/weather-block/weather-block.component.spec.ts
  apps/weather_app/src/app/shared/weather-block/weather-block.component.ts
  package-lock.json
  package.json
Due: prettier --write, npm run lint --fix, eslint

Added store effect in depend, created lib with color constants
  .eslintrc.json
  .vscode/settings.json
  apps/weather_app/project.json
  apps/weather_app/src/app/app.module.ts
  apps/weather_app/src/app/core/api/cities.service.ts
  apps/weather_app/src/app/core/models/cities.model.ts
  apps/weather_app/src/app/core/models/index.ts
  apps/weather_app/src/app/core/store/actions/city.actions.ts
  apps/weather_app/src/app/core/store/effects/city.effects.ts
  apps/weather_app/src/app/core/store/reducers/city.reducer.ts
  apps/weather_app/src/app/modules/home-page/home-page.component.spec.ts
  apps/weather_app/src/app/modules/home-page/home-page.component.ts
  apps/weather_app/src/app/shared/search-bar/search-bar.component.html
  apps/weather_app/src/app/shared/search-bar/search-bar.component.scss
  apps/weather_app/src/app/shared/search-bar/search-bar.component.ts
  apps/weather_app/src/app/shared/weather-block/weather-block.component.scss
  apps/weather_app/src/app/shared/weather-block/weather-block.component.ts
  libs/weather_app/ui/shared/src/styles/colors.scss
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
  tsconfig.json
Due: prettier --write, npm run lint --fix, eslint

Added typography styles and rename some actions in store
  apps/weather_app/src/app/core/store/actions/city.actions.ts
  apps/weather_app/src/app/core/store/effects/city.effects.ts
  apps/weather_app/src/app/core/store/reducers/city.reducer.ts
  apps/weather_app/src/app/modules/home-page/home-page.component.scss
  apps/weather_app/src/app/modules/home-page/home-page.component.ts
  apps/weather_app/src/app/shared/search-bar/search-bar.component.scss
  libs/weather_app/ui/shared/src/styles/typography.scss
Due: prettier --write, npm run lint --fix

Changed styles
  apps/weather_app/src/app/modules/home-page/home-page.component.ts
  apps/weather_app/src/app/shared/search-bar/search-bar.component.html
  apps/weather_app/src/app/shared/search-bar/search-bar.component.scss
  libs/weather_app/ui/shared/src/styles/colors.scss
Due: prettier --write, npm run lint --fix, eslint

Added new api url. Create new pipe. Replace service only for api calls and local service
  apps/weather_app/project.json
  apps/weather_app/src/app/core/api/api-general.service.ts
  apps/weather_app/src/app/core/api/api-models/cities-api.model.ts
  apps/weather_app/src/app/core/api/api-models/index.ts
  apps/weather_app/src/app/core/api/cities-api.service.spec.ts
  apps/weather_app/src/app/core/api/cities-api.service.ts
  apps/weather_app/src/app/core/api/cities.service.ts
  apps/weather_app/src/app/core/api/index.ts
  apps/weather_app/src/app/core/pipes/day-time.pipe.spec.ts
  apps/weather_app/src/app/core/pipes/day-time.pipe.ts
  apps/weather_app/src/app/core/services/cities.service.spec.ts
  apps/weather_app/src/app/core/services/cities.service.ts
  apps/weather_app/src/app/core/services/index.ts
  apps/weather_app/src/app/core/store/effects/city.effects.ts
  apps/weather_app/src/app/modules/home-page/home-page.component.html
  apps/weather_app/src/app/modules/home-page/home-page.component.spec.ts
  apps/weather_app/src/app/modules/home-page/home-page.component.ts
  apps/weather_app/src/app/shared/search-bar/search-bar.component.spec.ts
  apps/weather_app/src/app/shared/shared.module.ts
  apps/weather_app/src/app/shared/weather-block/weather-block.component.html
  apps/weather_app/src/app/shared/weather-block/weather-block.component.scss
  apps/weather_app/src/app/shared/weather-block/weather-block.component.ts
  apps/weather_app/src/environments/environment.ts
  libs/weather_app/ui/shared/src/assets/images/cloudy.png
  libs/weather_app/ui/shared/src/assets/images/foggy.png
  libs/weather_app/ui/shared/src/assets/images/part-cloudy.png
  libs/weather_app/ui/shared/src/assets/images/rain.png
  libs/weather_app/ui/shared/src/assets/images/sineshine.png
  libs/weather_app/ui/shared/src/assets/images/snow.png
  libs/weather_app/ui/shared/src/assets/images/storm.png
  libs/weather_app/ui/shared/src/assets/images/strong-wind.png
  libs/weather_app/ui/shared/src/assets/images/tornado.png
  tsconfig.base.json
Due: prettier --write, npm run lint --fix, eslint

Create new shared component for weather details
  apps/weather_app/src/app/core/api/api-general.service.ts
  apps/weather_app/src/app/core/api/api-models/index.ts
  apps/weather_app/src/app/core/api/api-models/weather-api.model.ts
  apps/weather_app/src/app/core/api/cities-api.service.ts
  apps/weather_app/src/app/core/models/index.ts
  apps/weather_app/src/app/core/models/weather.model.ts
  apps/weather_app/src/app/core/services/cities.service.ts
  apps/weather_app/src/app/modules/home-page/home-page.component.ts
  apps/weather_app/src/app/shared/search-bar/search-bar.component.spec.ts
  apps/weather_app/src/app/shared/shared.module.ts
  apps/weather_app/src/app/shared/weather-block/weather-block.component.html
  apps/weather_app/src/app/shared/weather-block/weather-block.component.scss
  apps/weather_app/src/app/shared/weather-block/weather-block.component.ts
  apps/weather_app/src/app/shared/weather-info-table/weather-info-table.component.html
  apps/weather_app/src/app/shared/weather-info-table/weather-info-table.component.scss
  apps/weather_app/src/app/shared/weather-info-table/weather-info-table.component.spec.ts
  apps/weather_app/src/app/shared/weather-info-table/weather-info-table.component.ts
Due: prettier --write, npm run lint --fix, eslint

Add template and styles for weather block
  apps/weather_app/src/app/shared/search-bar/search-bar.component.scss
  apps/weather_app/src/app/shared/shared.module.ts
  apps/weather_app/src/app/shared/weather-block/weather-block.component.html
  apps/weather_app/src/app/shared/weather-block/weather-block.component.scss
  apps/weather_app/src/app/shared/weather-info-table/weather-info-table.component.html
  apps/weather_app/src/app/shared/weather-info-table/weather-info-table.component.scss
  apps/weather_app/src/app/shared/weather-info-table/weather-info-table.component.spec.ts
  apps/weather_app/src/app/shared/weather-info-table/weather-info-table.component.ts
  libs/weather_app/ui/shared/src/assets/images/cloudy.png
  libs/weather_app/ui/shared/src/assets/images/foggy.png
  libs/weather_app/ui/shared/src/assets/images/part-cloudy.png
  libs/weather_app/ui/shared/src/assets/images/rain.png
  libs/weather_app/ui/shared/src/assets/images/sineshine.png
  libs/weather_app/ui/shared/src/assets/images/snow.png
  libs/weather_app/ui/shared/src/assets/images/storm.png
  libs/weather_app/ui/shared/src/assets/images/strong-wind.png
  libs/weather_app/ui/shared/src/assets/images/tornado.png
  libs/weather_app/ui/shared/src/styles/colors.scss
Due: prettier --write, npm run lint --fix, eslint

Added interceptor for additing api keys in different api calls
  apps/weather_app/custom-webpack.config.js
  apps/weather_app/src/app/core/api/api-general.service.ts
  apps/weather_app/src/app/core/api/cities-api.service.ts
  apps/weather_app/src/app/core/interceptors/api.interceptor.spec.ts
  apps/weather_app/src/app/core/interceptors/api.interceptor.ts
  apps/weather_app/src/app/shared/shared.module.ts
  apps/weather_app/src/environments/environment.prod.ts
  apps/weather_app/src/environments/environment.ts
Due: prettier --write, npm run lint --fix

Update README.md
  README.md
Due: none
